 header{
     background-color: gray;
     height: 100px;
 }

 nav ul li{
    list-style: none;
    display: inline-block;
    padding:10px;
    margin-top: 40px;
    margin-right: 75px;
  }
  
  nav img {
    float: left;
    margin-left: 195px;
    margin-top: 15px;
    margin-right: 15px;
    
    /* margin-top: 15px;
    margin-right: 30px;
    margin-left: 30px; */
  }


  main section{

    margin: 30px;
    text-align: center;
  }

  main div{
    margin: 30px;
    text-align: center;

  }

  #a{
    margin-left: 26px;
margin-right: 26px;

  }

main div section p img{
    float: left;
    margin-left: 135px;
    margin-right: 51px;

}

 footer{
    background-color: gray;
    height: 100px;
    margin-top: 50px;

 }

 main div section p button{
   margin-right: 440px;
     background-color: black;
     padding: 15px;
     color: blanchedalmond;
 } 

 /* tessssst */



